name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Lab 4
        run: |
          gcc -Wall -Wextra -std=c11 -I. lab4.c lab4main.c -o lab4

      - name: Run (optional)
        run: |
          ./lab4 << EOF
          0
          EOF
