name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Compile Lab 4
        run: |
          gcc -Wall -Wextra -std=c11 lab4.c lab4main.c -o lab4

      - name: Run Lab 4 (exit immediately)
        run: |
          echo 0 | ./lab4
